{% extends "base.html" %}

{% load i18n %}
{% load cms_tags %}
{% block title %}{% trans "Newsletter archive" %}{% endblock title %}

{% block content %}
{% block body %}
<table>
    <tr>
        <th>{% trans "Newsletter archive" %} {{ newsletter.title }}</th>
    </tr>
    {% for submission in latest %}
    <tr>
        <td><a href="{{ submission.get_absolute_url }}">{{ submission }}</a></td>
    </tr>
    {% endfor %}
    <tr>
        <td><a href="../">Back to list</a></td>
    </tr>
</table>
{% endblock body %}
{% endblock %}
