{% extends "base.html" %}

{% load i18n %}
{% load cms_tags %}
{% block title %}{% trans "Newsletter" %} {{ newsletter.title }} {{ action }} {% trans "activate" %}{% endblock title %}

{% block content %}
{% block body %}
    <h1>{% trans "Newsletter" %} {{ newsletter.title }} {{ action }} {% trans "activate" %}</h1>

    <p>{% trans "Your subscription has successfully been activated." %}</p>
{% endblock body %}
{% endblock %}
