{% extends "base.html" %}

{% load i18n %}
{% load cms_tags %}
{% block title %}{% trans "Newsletter update" %}{% endblock title %}


{% block content %}
{% block body %}
    <h1>{% trans "Newsletter update" %} {{ newsletter.title }}</h1>

    <p>{% trans "Your update request was successfully received and an activation email has been sent to you. In that email you will find a link which you need to follow in order to update your subscription." %}</p>
{% endblock body %}
{% endblock %}
