{% extends "base.html" %}
{% block titles %}Home{% endblock %}
{% block extra_css %}
<link type="text/css" rel="stylesheet" href="/static/css/reg_log.css"/>
<link type="text/css" rel="stylesheet" href="/static/css/custom.css"/>
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="/static/js/reg_log.js"></script>

{% endblock %}
<!-- Sign up and Login section-->
{% block content %}

			<section id="contact" class="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Login</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Username</label>
                                <input type="text" class="form-control" placeholder="Username" id="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Password</label>
                                <input type="email" class="form-control" placeholder="Password" id="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Login</button>
                            </div>
                        </div>
                		<div class="form-group">
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
									<div class="text-center">
										<a href="http://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a>
									</div>
								</div>
								<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
									<div class="text-center">
										<a href="" tabindex="5" class="forgot-password">Sign In</a>
									</div>
								</div>
							</div>
						</div>
                    </form>
                </div>
            </div>
        </div>
    </section>
		
	{% endblock %}