{% include "account/header.html" %}
<div class="container">
  <h1>Change Password</h1>
  <hr>
	<div class="row" id="rowid">
    <!-- edit form column -->
    <div class="personal-info col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <!--<h3>Personal info</h3>-->
      <form action="{% url 'password_change' %}" method="post"  style="align:center;" class="form-horizontal" role="form">{% csrf_token %}
        <div class="form-group">
          <label class="col-lg-3 control-label">Old Password:</label>
          <div class="col-lg-8">
            {{ form.old_password }}
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">New Password:</label>
          <div class="col-lg-8">
            {{ form.new_password1 }}
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Re-Type New Password:</label>
          <div class="col-lg-8">
            {{ form.new_password2 }}
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input type="submit" class="btn btn-primary btn-lg" value="Change Password">
            <span></span>
            <!--<input type="reset" onclick="{% url 'index' %}" class="btn btn-default btn-lg" value="Cancel">-->
          </div>
        </div>
      </form>
    </div>
  </div>
</div><br><br><br><br>
{% include "account/footer.html" %}
