{% include "account/header.html" %}

{% block title %}Password reset successful{% endblock %}

{% block content %}
<p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
<p>You should be receiving it shortly.</p>
{% endblock %}<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% include "account/footer.html" %}