
<section id="contact" class="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Us</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div>
                {% if contact.h_name %}
                <ul class="contaclist add-bottom" style="list-style-type:none;">
                    
                    {% if contact.h_name %}<li><strong>Address:</strong>{{contact.h_name}},{{contact.h_area}},{{contact.h_street}}</li>{% endif %}
                    {% if contact.h_phone %}<li><strong>Phone: </strong>{{contact.h_phone}}</li>{% endif %}
                    {% if contact.h_fax %}<li><strong>Fax:</strong>{{contact.h_fax}}</li>{% endif %}
                    {% if contact.h_email %}<li><strong>Email: </strong>{{contact.h_email}}</li>{% endif %}

                </ul>
                {% endif %}
            </div>
            {% if success %}
                <span style="color:green; font-size:14px">{{success}}</span>
                <br>
                <br>
            {% endif %}
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form id="contact-frm" class="cf" method="post">{% csrf_token %}
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Name</label> <input type="text" name="name" value="{{form.name.value|default:''}}" class="form-control" placeholder="Name*" id="name">

                                <span> {{ form.name.errors }}</span>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Business</label>
                                 <input type="text" name="subject" value="{{form.subject.value|default:''}}" class="form-control" placeholder="Business*" id="subject">
                                <span id="subject" class="error">{{ form.subject.errors }}</span>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email Address</label>
                                <input type="text" name="email" value="{{form.email.value|default:''}}" class="form-control" placeholder="Email Address*" id="email">
                                <span class="error" id="email">{{ form.email.errors }}</span>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Phone</label>
                                 <input type="text" name="phone" value="{{form.phone.value|default:''}}" class="form-control" placeholder="Phone*" id="phone">
                               <span class="error" id="phone">{{ form.phone.errors }}</span>
                                
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Message</label>
                              <textarea name="message" value="{{form.message.value|default:''}}" placeholder="Message*"></textarea>
                            <span class="error" id="message">{{ form.message.errors }}</span>

                                
                            </div>
                        </div>
                        <!-- <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <div style="padding-left: 277px;" class="center" >{{ form.captcha }}
                                    <span class="error align" style="padding-right: 243px;">{{form.captcha.errors.as_text}}</span>
                                </div>
                            </div>
                        </div> -->

                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg" id="contact_btn"><span>
                                   Send
                                  </span></button>


                                    
                            </div>
                        </div>
                    </form>
                    <div>
                    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:450px;width:780px;'><div id='gmap_canvas' style='height:450px;width:780px;'></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div> <a href='http://www.maps-generator.com/'>http://Maps-Generator.com</a> <script type='text/javascript' src='http://embedmaps.com/google-maps-authorization/script.js?id=5d8c13237c5c6ff47c0d25f6ee8372d376c6e44d'></script><script type='text/javascript'>function init_map(){var myOptions = {zoom:13,center:new google.maps.LatLng({{contact.latitude}},{{contact.longitude}}),mapTypeId: google.maps.MapTypeId.SATELLITE};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng({{contact.latitude}},{{contact.longitude}})});infowindow = new google.maps.InfoWindow({content:'<strong>Sayone Technologies</strong><br>Kunnumpuram, Vazhakkala, Kochi<br> Ernakulam<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
                    </div>
                </div>
            </div>
        </div>
    </section>