{% load cms_tags sekizai_tags menu_tags i18n %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block titles %}{% endblock %} | RefJect</title>
        
    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <!-- Custom CSS -->
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/base.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/freelancer.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/font-awesome.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/font-awesome.min.css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    {% block extra_css %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
{% render_block "css" %}
</head>

<body id="page-top" class="index">
 {% cms_toolbar %}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">RefJect</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>{% show_menu 0 100 0 100 %}</li>

                     {% if request.user.is_authenticated %}
                     <li class="page-scroll">
                        <a href="{% url 'logout' %}" id="lo">SignOut</a>
                     </li>
                     {% else %}
                     <li class="page-scroll">
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                   
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
           
            {% block content %}{% endblock %}
            </div>
        </div>
    </header>
    

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>Sayone Technologies<br>Vazhakala,Kakkanad,Ernakulam</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="http://www.facebook.com/share.php?u={{ request.build_absolute_uri }}" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/share?url={{ request.build_absolute_uri }}" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="http://twitter.com/share?url={{ request.build_absolute_uri }}" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="http://www.linkedin.com/shareArticle?url={{ request.build_absolute_uri }}" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <div class="block newsletter">
                    <form action="{% url 'newsletter_subscribe_request' 'test' %}" id="newsletter_form" class="form-search" method="post" >{% csrf_token %}
                        <!-- <input class="input-style" type="text" value="" placeholder="Name" name='name_field' id="name_id" max-width="350"> -->
                        <!-- <div id="name" class="error"></div><br> -->
                        <!-- <input class="input-style last" type="email" value="" name='name_email' id="id_email" placeholder="Email" > -->
                        <!-- <div id="rep" class="error"></div><br> -->
                        <input class="btn-signup" id="sub" type="submit" value="Subscribe your news letter">
                    </form>
                     <div id="succes" style="color:green"></div>
                    <span id="fail error"></span>
                </div>
                        <section class="footer-container">
        <div class="left-deco"></div>
        <footer class="footer horizontal-border-top">
            <p>
                {% for footer in footerlinks %}
                <a href="{% if footer.page_link %}{{ footer.page_link.get_absolute_url }}{% else %}{{ footer.URL }}{% endif %}">{{ footer.title }}</a>
                {% if forloop.last %} {% else %} | {% endif %}
                {% endfor %}
            </p>
        </footer>
        <div class="right-deco"></div>
    </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Your Website 2014
                    </div>
                </div>
            </div>
        </div>
    </footer>

    
    <!-- jQuery -->
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/static/js/classie.js"></script>
    <script type="text/javascript" src="/static/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script type="text/javascript" src="/static/js/jqBootstrapValidation.js"></script>
    <!-- Custom Theme JavaScript -->
    <script type="text/javascript" src="/static/js/freelancer.js"></script>
    <script type="text/javascript">
   if (window.location.hash == '#_=_') {
      window.location.hash = '';
     }
    </script>

    {% block extra_js %}{% endblock %}
    {% render_block "js" %}
</body>

</html>
