{% extends "base.html" %}
{% load cms_tags %}
{% block titles %}Home{% endblock %}
{% block content %}

	<div class="col-lg-12">
        <img class="img-responsive" src="/static/img/profile.png" alt="">
        <div class="intro-text">
            <span class="name">Start refject</span>
            <hr class="star-light">
            <span class="skills"></span>
        </div>
	</div>
{% endblock %}