{% extends "base.html" %}
{% block titles %}Home{% endblock %}
{% load socialaccount %}
{% block extra_css %}
<link type="text/css" rel="stylesheet" href="/static/css/reg_log.css"/>
<link type="text/css" rel="stylesheet" href="/static/css/custom.css"/>
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="/static/js/reg_log.js"></script>

{% endblock %}
<!-- Sign up and Login section-->
{% block content %}

			<section id="contact" class="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Login</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate method="post" action="
">{% csrf_token %}
                       </div><br>
                        <div class="social-box">
                            <div class="row mg-btm">
                                <div class="col-md-12">
                                    <a href="{% provider_login_url "facebook" method="oauth2" %}?next="/"" class="btn btn-info ">
                                        <i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;Login with Facebook
                                    </a>
                                </div>
                            </div><br>  
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="{% provider_login_url "google" method="oauth2" %}?next="/"" class="btn btn-danger " >
                                        <i class="fa fa-google-plus-square"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login with Google
                                    </a>
                                </div>
                            </div><br><br><br>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
		
	{% endblock %}