{% extends "base.html" %}
{% block titles %}Thank you{% endblock %}
{% block content %}
    {% spaceless %}
    <section id="inner-container" class="notfound">
       <div class="inner-banner">
           <h1>Thank you</h1>
       </div>
       <div class="container res-container">
           <div class="heading_inner">
               <h3>Contact request has been successfully delivered, You will be contacted soon! </h3>
           </div>
             {% for c in copy|slice:":1" %}
           <p>{{ c.Thankyoumessage|safe}}</p>
             {% endfor %}
       </div>
    </section>
    {% endspaceless %}
{% endblock content %}    