{% load menu_tags  %}
{% for child in children %}
<li class="{% if child.selected %}current selected{% endif %}">
   <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}" >{{ child.get_menu_title }}</a>
  {% if child.children %}
  <ul>
      {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
  </ul>
  {% endif %}
</li>
{% endfor %}